.signup {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../assets/images/block-image.jpg") no-repeat center center / cover;
    text-align: center;
    padding: 40px;
}