@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins';
    margin:0;
    padding: 0;
}

.footer-box-text h4 {
    margin: 0;
}

.footer {
    background: url('../assets/images/footer-img.png') no-repeat center center / cover;
    position: relative;
    width: 100vw;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(#333, #000);
    opacity: 0.9;
    z-index: 1;
}
.footer-container {
    padding: 40px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color : #fff;
    z-index: 3;
    width: 60%;
}

.footer-title {
    text-transform: uppercase;
    font-size: 2.6rem;
}

.footer-text {
    color: rgba(255,255,255,0.8);
}

.footer-btn {
    margin: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 15px 50px;
    color: #000;
    background: #f6de06;
    border-radius: 3px;
    border:none;
    outline: none;
}

.footer-icon-img {
    transform: rotate(-45deg);
    color: #f6d306;
    margin: 15px;
}

.footer-licensing {
    text-transform: capitalize;
}

.footer-icon {
    display: flex;
    align-items: center;
}
.footer-icon-hr {
    height: 1px;
    width: 40vw;
    background: #444;
}

.footer-box-container {
    border: #444 1px solid;
    display: flex;
    align-items: space-between;
    max-width: 610px;
}

.footer-box {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 15px 15px 15px 25px;
    text-align: start;
    text-transform: uppercase;

}

.footer-box:nth-child(1) h4 {
    font-size: 1.7rem;
}
.footer-box-icon {
    border: #f6d306 1px solid;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    transform: rotate(-45deg);
}

.footer-box-hr {
    border: #444 1px solid;
}

.footer-box-img {
    margin: 6px;
}


.footer-box-text {
    margin-left: 20px;
}

.footer-contact-title {
    color: #f6d306;
    font-weight: 600;
}

.footer-licensing {
    margin-top: 30px;
    opacity: 0.45;
}


/* ScrollBar CSS */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #111;
    
}

::-webkit-scrollbar-thumb {
    background: #f6d306;
    border-radius: 2px;
}